wheel
pandas
numpy
ipython
prophet
ipykernel
scikit-learn
yapf
xgboost
plotly

# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1

# prevent bq 3+ db-dtypes package error when running training from bq
google-cloud-bigquery<3.0.0
google-cloud-storage
pyarrow

#install fast api
fastapi

uvicorn
